* {
	box-sizing: border-box;
}

:root {
	--fondoPrimario: #FCF7F8;
	--colorOscuro: #1A1E21;
	--azul: #3860EC;
}

body {
	background: var(--fondoPrimario);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

ul {
	margin: 0;
}

.contenedor {
	max-width: 500px;
	width: 90%;
	padding: 30px;
	border-radius: 20px;
}

.titulo {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: var(--colorOscuro);
	margin-bottom: 20px;
}

.grupo {
	padding: 60px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

label {
	display: block;
	margin-bottom: 10px;
}

.grupo div p,
.grupo div div,
.grupo div span,
.grupo ul li {
	background: #dbdbdb;
	padding: 10px;
}

/* ? ------------- PSEUDO-CLASES ------------- */

/*:active mientras haces clic*/
.enlace:active {
	background: #000;
}

/*:link estado del enlace antes de entrar*/
.enlace:link {
	color: red;
}

/*:link estado del enlace despues de entrar*/
.enlace:visited {
	color: turquoise;
}

.enlace:hover {
	color: orange;
}


/* ? --- --- --- --- PARRAFOS --- --- --- --- */
/*:first-child acceder al primer elemento hijo*/
.parrafos p:first-child {
	background: var(--azul);
	color: #fff;
}

/*:last-child acceder al ultimo elemento hijo*/
.parrafos p:last-child {
	background: #000;
	color: #fff;
}


/* ? --- --- --- --- ELEMENTOS --- --- --- --- */
.elementos p:first-of-type {
	background: var(--azul);
	color: #fff;
}

.elementos span:last-of-type {
	background: #000;
	color: #fff;
}


/* ? --- --- --- --- LISTA --- --- --- --- */
/*:nth-child() el parametro selecciona al nro de hijo*/
/*odd-seleccioa a los pares   
even-selecciona a los impares
Xn-cada X elementos*/
.lista :nth-child(2){
	background: var(--azul);
	color: #fff;
}

.lista :nth-last-child(3){
	background: #000;
	color: #fff;
}


/* ? --- --- --- --- LISTA 2 --- --- --- --- */
.lista2 p:nth-of-type(2) {
	background: var(--azul);
	color: #fff;
}

.lista2 div:nth-last-of-type(2) {
	background: #000;
	color: #fff;
}


/* ? --- --- --- --- LISTA 3 --- --- --- --- */
/*solo se aplica si posee un solo hijo*/
.lista3 p:only-child {
	background: var(--azul);
	color: #fff;
}


/* ? --- --- --- --- LISTA 4 --- --- --- --- */
/*solo se aplica si posee un solo hijo del tipo definido */
.lista4 p:only-of-type {
	background: var(--azul);
	color: #fff;
}